@CHARSET "ISO-8859-1";

.messageForm{}

.messageList{
	width: 50%;
	height: 700px;
	float: left;
}

.messageShow{
	text-align: left;
	width: 45%;
	height: 700px;
	float: right;
}

.sender{
}

.messageOld{
	height: 50%;
	border-collapse:collapse;
	border:4px solid #000000;
}

.messageNew{
	border-collapse:collapse;
	border:4px solid #000000;
	height: 50%;
}

.messagesTable{
	width: 50%;
	border-collapse:collapse;
	border:1px solid #000000;
	//text-align: right;
}

.messageTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.messageTableOddRow{
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFF;	
}

.messageTableEvenRow{
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}