.wrapper {
	margin-left: auto;
	margin-right: auto;
	background-color: #86B4CC;
	width: 100%;
}

.topbar {
	margin-left: auto;
	margin-right: auto;
	background: url("#{resource['images/blue_less_full_50.png']}") no-repeat
		center left;
	width: 100%;
	height: 23px;
}

.header {
	margin-left: auto;
	margin-right: auto;
	background: url("#{resource['images/titel.png']}") no-repeat center left;
	background-color: #FFF;
	width: 100%;
	height: 150px;
}

.menu {
	margin-left: auto;
	margin-right: auto;
	background: url("#{resource['images/blue_less_full_50.png']}") no-repeat
		center left;
	background-color: #FFF;
	
	font-weight: bold;
	text-align: center;
	width: 100%;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 20px;
}

.menu ul li {
	list-style-type: none;
	text-decoration: none;
	color: #FFF;
}

.menu ul li a{
	text-transform: uppercase;
	color: #FFF;
	//width: 100px;
	display: block;
	padding-right: 30px;
	float: left;
}

.menu ul li a:active{
	color: #00F;
}

.menu ul li a:hover{
	color: #F00;
}



.content {
	background-color: #86B4CC;
	width: 100%;
	position: relative;
	text-align: center;
}

.footer {
	margin-top:auto;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	background: url("#{resource['images/grey_full_50.png']}") no-repeat
		center left;
	background-color: #0FF;
	width: 100%;
	height: 30px;
	clear: both;
}